In [2]:
import matplotlib.pyplot as plt
import platform
platform.system()

if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')

plt.rc('axes', unicode_minus=False) # 마이너스 폰트 설정
plt.rc('axes', labelsize=30)   # x,y축 label 폰트 크기


# 글씨 선명하게 출력하는 설정
%config InlineBackend.figure_format = 'retina'

In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv("C:/Users/wjddu/git/knuteam/22.csv", parse_dates=['num'], index_col='num', encoding='utf-8')
 
df

    저항(ahm)  용량(W)  오차율(%)
num
1         1   0.25     1.0
2         1   0.25     5.0
3       4.7   0.25     5.0
4       5.6   0.25     5.0
5        10   0.25     1.0
..      ...    ...     ...
100    1.5M   0.25     5.0
101      2M   0.25     5.0
102    4.7M   0.25     5.0
103    5.1M   0.25     5.0
104   (시)30  10.00     NaN

[104 rows x 3 columns]

In [4]:
df[['저항(ahm)']]

    저항(ahm)
num
1         1
2         1
3       4.7
4       5.6
5        10
..      ...
100    1.5M
101      2M
102    4.7M
103    5.1M
104   (시)30

[104 rows x 1 columns]

In [9]:
value = 0
print(df.iloc[[value], :])

    저항(ahm)  용량(W)  오차율(%)
num
1         1   0.25     1.0

In [10]:
value = 1
print(df.iloc[[value], :])

    저항(ahm)  용량(W)  오차율(%)
num
2         1   0.25     5.0

In [11]:
for i in range(10) : 
    print(df.iloc[[i], :])

    저항(ahm)  용량(W)  오차율(%)
num
1         1   0.25     1.0
    저항(ahm)  용량(W)  오차율(%)
num
2         1   0.25     5.0
    저항(ahm)  용량(W)  오차율(%)
num
3       4.7   0.25     5.0
    저항(ahm)  용량(W)  오차율(%)
num
4       5.6   0.25     5.0
    저항(ahm)  용량(W)  오차율(%)
num
5        10   0.25     1.0
    저항(ahm)  용량(W)  오차율(%)
num
6        10   0.25     5.0
    저항(ahm)  용량(W)  오차율(%)
num
7        10    1.0     5.0
    저항(ahm)  용량(W)  오차율(%)
num
8        12   0.25     5.0
    저항(ahm)  용량(W)  오차율(%)
num
9        15   0.25     1.0
    저항(ahm)  용량(W)  오차율(%)
num
10       15   0.25     5.0